<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\FRI3NDS\MakeAndNails\logs\_nlog-internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<!--<target xsi:type="File" name="allfile" fileName="C:\FRI3NDS\MakeAndNails\logs\nlog-all-${shortdate}.log"
					layout="${newline}================================================================================${newline}${newline}${longdate}|${logger}|${uppercase:${level}}|${aspnet-Request-Method} ${aspnet-MVC-Controller}/${aspnet-MVC-Action}: ${newline}${message}" />
		-->

		<target xsi:type="File" name="appFile" fileName="C:\FRI3NDS\MakeAndNails\logs\nlog-app-${shortdate}.log"
				  layout="${newline}================================================================================${newline}${newline}${longdate}|${logger}|${uppercase:${level}}|${aspnet-Request-Method} ${aspnet-MVC-Controller}/${aspnet-MVC-Action}: ${newline}${message}" />
		<target xsi:type="File" name="errorFile" fileName="C:\FRI3NDS\MakeAndNails\logs\nlog-error-${shortdate}.log"
				  layout="${newline}================================================================================${newline}${newline}${longdate}|${logger}|${uppercase:${level}}|${aspnet-Request-Method} ${aspnet-MVC-Controller}/${aspnet-MVC-Action}: ${newline}${message}" />

		<target xsi:type="Null" name="blackhole" />
	</targets>

	<rules>
		<!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Trace" writeTo="appFile" />
		<logger name="*" minlevel="Error" writeTo="errorFile" />
	</rules>
</nlog>