<div class="container">
	<h1>Регистрация</h1>
	<form novalidate #registrationForm="ngForm">
		<div class="form-group">
			<label>Логин</label>
			<input class="form-control" id="login" name="login" [(ngModel)]="userLoginModel.login" #login="ngModel" required />
			<validation-messages [control]="login"></validation-messages>
		</div>
		<div class="form-group">
			<label>Пароль</label>
			<input class="form-control" id="password" name="password" [(ngModel)]="userLoginModel.password" #password="ngModel" required />
			<validation-messages [control]="password"></validation-messages>
		</div>
		<div class="form-group">
			<label>Повторите пароль</label>
			<input class="form-control" id="repeatPassword" name="repeatPassword" [(ngModel)]="userLoginModel.repeatPassword" #repeatPassword="ngModel" required/>
			<validation-messages [control]="repeatPassword"></validation-messages>
		</div>

		<div class="form-group">
			<button [disabled]="registrationForm.invalid" (click)="login()">Зарегаться</button>
		</div>
	</form>
</div>